python-dotenv
distance
langdetect
wave
pytesseract
ffmpeg-python
ffprobe-python
pydub
python-Levenshtein-wheels
filehash
pymediainfo
pyacoustid
klein
Twisted
service-identity
fuzzywuzzy
rapidfuzz
opencv-python-headless
SpeechRecognition
sqlalchemy
pymysql
imagehash
tqdm
environs
grpcio
uvicorn
gsutil
moviepy
static-ffmpeg
SoundFile
boto3
pandas
scikit-learn