python-dotenv
distance
langdetect
wave
pytesseract
ffmpeg-python
ffprobe-python
pydub
python-Levenshtein-wheels
filehash
pymediainfo
pyacoustid
klein
Twisted
service-identity
fuzzywuzzy
rapidfuzz
opencv-python-headless
SpeechRecognition
google-cloud-storage
google-cloud-speech
google-cloud-vision
google-cloud-pubsub
google-cloud-monitoring
sqlalchemy
pymysql
imagehash
tqdm
environs
grpcio
fastapi
uvicorn
gsutil
moviepy
static-ffmpeg